{% extends "base.html" %}

{% block title %}
Mamre Warszawa — Co nowego?
{% endblock %}

{% block header %}
Co nowego?
{% endblock %}

{% block body %}
{% if posts %}
  <ul class="post-list list-unstyled">
    {% for post in posts %}
    <li>
    <div class="row-same-height post-row">
    <div class="col-same-height post-img" style="
      {% if post.img %}
      background: url('{{post.img.url}}') no-repeat center center scroll;
      {% else %}
      background: url('/static/img/macarons.jpg') no-repeat center center scroll;
      /* https://www.flickr.com/photos/kj_/3719931129 */
      {% endif %}
      background-size: cover;
"></div>
  <div class="col-same-height post-text container-fluid">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
    <h1><a href="/events/blog/{{post.pk}}/">{{post.title}}</a></h1>
    <div class="post-info">
    <div class="post-date">{{post.date|date:"j E Y"}}</div>
    <ul class="post-tags list-inline">
    {% if post.recordings %}
    <li>
    nagrania
    </li>
    {% endif %}
    </ul>
    </div>
    <p>{{post.lead|safe}}</p>
    </div>
    </div>
    </div>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Brak wpisów</p>
{% endif %}
{% endblock %}


