{% extends "base.html" %}

{% block title %}
Mamre Warszawa — {{post.title}}
{% endblock %}

{% block header %}
Co nowego?
{% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>
    <div style="margin: 0.5em 0">
    <div style="font-size: 12pt; font-style: italic; vertical-align: middle; display: inline-block">{{post.date}}</div>
    <ul style="margin: 0 0 0 1em; font-size: 10pt; font-weight: bold; text-transform: uppercase; vertical-align: middle; display: inline-block" class="list-inline">
    {% if post.recordings %}
    <li>
    nagrania
    </li>
    {% endif %}
    </ul>
    </div>
    <p style="font-size: 14pt">{{post.lead}}</p>
    <p>{{post.text}}</p>
    {% if post.recordings %}
    <h2>Nagrania</h2>
    <ul>
      {% for rec in post.recordings %}
      <li>
        {{rec.title}} &mdash; <a href="{{rec.content.url}}">pobierz</a>
        <audio controls>
	  <source src="{{rec.content.url}}" type="{{rec.type}}">
        </audio>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}


