{% extends "base.html" %}

{% block title %}
Mamre Warszawa — {{post.title}}
{% endblock %}

{% block header %}
Co nowego?
{% endblock %}

{% block body %}
<div class="row post-row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 post-text">
    <h1>{{post.title}}</h1>
    <div class="post-info">
    <div class="post-date">{{post.date|date:"j E Y"}}</div>
    <ul class="post-tags list-inline">
    {% if post.recordings %}
    <li>
    nagrania
    </li>
    {% endif %}
    </ul>
    </div>
    <p class="post-lead">{{post.lead}}</p>
    <p>{{post.text}}</p>
    {% if post.recordings %}
    <h2>Nagrania</h2>
    <ul>
      {% for rec in post.recordings %}
      <li>
        {{rec.title}} &mdash; <a href="{{rec.content.url}}">pobierz</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}


