<html>
  <head>
    <title>Wybory Mamre Warszawa</title>
  </head>
  <body>
    <h1>Witaj!</h1>
    <p>Wprowadź swój PIN</p>
    {% if errors %}
        <ul style="color: red;">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/ballot/check/" method="post">{% csrf_token %}
      <input type="text" name="pin" />
      <input type="hidden" name="token" value="{{token}}" />
      <input type="submit" value="OK" />
    </form>
    
  </body>
</html>
