<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>
      {% block title %}
      Mamre Warszawa 
      {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{STATIC_URL}}css/mamre.css" rel="stylesheet">

    <link href="{{STATIC_URL}}fonts/CanterLight.css" rel="stylesheet">
    <link href="{{STATIC_URL}}fonts/CanterBold.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">
            <img src="{{STATIC_URL}}img/logo.png" class="logo"> Mamre Warszawa 
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            {% for entry in menu_entries %}
            {% if entry.children %}
            <li class="dropdown">
            <a href="{{entry.link}}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{entry.caption}}</a>
              <ul class="dropdown-menu dropdown-menu-left">
                {% for subentry in entry.children %}
                <li><a href="{{subentry.link}}">{{subentry.caption}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{entry.link}}">{{entry.caption}}</a></li>
            {% endif %}
            {% endfor %}

          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    
    <!-- Intro Header -->
    <header class="intro intro-fullscreen">
      <div class="intro-body">
      <div class="container">
        <h1 class="brand-heading"><img src="{{STATIC_URL}}img/logo.png" class="logo">Mamre Warszawa</h1>
        <a href="#about" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i></a>
      </div>
      </div>
    </header>
    

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Podstawowe informacje</h2>
		<p>Jesteśmy wspólnotą w Kościele Katolickim tworzoną przez ludzi w różnym wieku i różnych stanów. Rozwijamy się dzięki osobistej modlitwie, lekturze Pisma św. i dokumentów Kościoła, a także przez uczestnictwo w kilkuosobowych grupach dzielenia oraz spotkaniach formacyjnych. Służymy Kościołowi przez ewangelizację oraz posługę charyzmatyczną i charytatywną.</p>
                <p>W Warszawie działamy od roku 2003, oficjalna akceptacja tej działalności została wyrażona dekretami Kazimierza Kardynała Nycza, Arcybiskupa Metropolity Warszawskiego z dn. <a href="{{STATIC_URL}}img/dekret-2012.jpg" target="_blank">13&nbsp;listopada&nbsp;2012 r.</a> oraz <a href="{{STATIC_URL}}img/dekret-2014.jpg" target="_blank">5&nbsp;listopada&nbsp;2014 r.</a></p>

                
            </div>
        </div>
    </section>

    <aside class="group-photo"></aside>

    <section id="proposals" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Propozycje</h2>
                <p>Zachęcamy do udziału w organizowanych przez nas spotkaniach! W Milanówku, w I piątek miesiąca zapraszamy na <a href="/proposals/milanowek/">adorację</a>. W II piątek miesiąca w Powsinie odbywają się <a href="/proposals/powsin/">Msze św. z modlitwą o uzdrowienie</a>, a w następujący po nich wtorek &mdash; <a href="/proposals/sympatycy/">spotkania biblijne</a>. W ostatni piątek miesiąca współorganizujemy <a href="/proposals/wieczordlajezusa/">Wieczór dla Jezusa</a> w Świątyni Opatrzności Bożej.</p>
                <p>Proponujemy też <a href="/proposals/wyjazdy/">wyjazdy</a> na ogólnopolskie spotkania naszej Wspólnoty.</p>
            </div>
        </div>
    </section>
    
    <aside class="proposals-photo"></aside>
    
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontakt</h2>
                <p>Ze wspólnotą można się skontaktować emailowo za pomocą adresu 
                <a href="mailto:kontakt@mamre.warszawa.pl">kontakt@mamre.warszawa.pl</a>. Zachęcamy też do polubienia naszego <a href="https://www.facebook.com/mamre.warszawa" target="_blank">fanpejdża</a> na Facebooku.</p>
                  <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="mailto:kontakt@mamre.warszawa.pl" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/mamre.warszawa" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
                
            </div>
        </div>
    </section>

<!--
    <footer>
    &copy; <a href="mailto:kontakt@mamre.warszawa.pl">Mamre Warszawa</a>. <a href="/credits/">Credits</a>.
    </footer>
-->

  <script src="{{STATIC_URL}}js/jquery-1.8.0.js"></script>
  <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
  <script src="{{STATIC_URL}}js/jquery.easing.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap-hover-dropdown.min.js"></script>
  <script src="{{STATIC_URL}}js/mamre.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51119927-3', 'auto');
    ga('send', 'pageview');

  </script>
  </body>
</html>

