@media(min-width:767px) {

	.dropdown-menu {
		display: block;
	}

	.dropdown.open .dropdown-menu {
		display: block;
	}

	.top-nav-collapse .dropdown-menu {
		display: none;
	}

	.navbar-custom .nav li a {
		padding-right: 60px;

		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.navbar-custom.top-nav-collapse .nav li a {
		padding-right: 20px;
	}
}