html, body {
	height:100%;
	margin:0;
	padding:0;
	background-color: #ffd800;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:large;
	margin-top:0;	
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
}

a {
	color:#ff8a00;
	text-decoration:none;
}

a:hover {
	color:#ff6c00;
	text-decoration:underline;
}

a:visited {
	color:#ffa800;
}

#supercontainer {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:750px;
	background:#fff;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	
	-moz-box-shadow: 0 0 0.5em #000;
	-webkit-box-shadow: 0 0 0.5em #000;
	box-shadow: 0 0 0.5em #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=90,Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=270,Color='#555555');
}

body:last-child #supercontainer {
	filter: none;
}

#header {
	background-color: #fff;
	background-image: url('../images/header.png');
	background-position: 100px 10px;
	background-repeat:no-repeat;
	position: relative;
	width: 850px;
	margin-left: -50px;
	padding-top: 120px;
	padding-bottom:0;
	z-index:10;
	border-radius: 0 0 1em 1em;
	-moz-box-shadow: 0 0 0.5em #000;
	-webkit-box-shadow: 0 0 0.5em #000;
	box-shadow: 0 0 0.5em #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=180,Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=90,Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=270,Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=180,Color='#555555');
}

body:last-child #header {
	filter: none;
}

a#facebook-link {
	display:block;
	position:absolute;
	top:1em;
	right:0;
	width:40px;
	height:40px;
	background-image:url('../images/facebook.png')
}
ul#horisontal-menu {
	padding:0;
	padding-bottom:0.5em;
	text-align:right;
	list-style-type: none; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-right:5em;
	margin-top:0;
	margin-bottom:0;
}
ul#horisontal-menu li {
	display:inline;
	margin:0;
	padding:0;
}
ul#horisontal-menu li a {
	padding:0.5em;
	color:#ffa800;
	margin:0;
}
#header li a:hover {
	background-color: #ffd800;
	color: #5c3d00;
	text-decoration:none;
}
#header li.selected a, #header li.selected a:visited {
	background-color: #ffd800;
	color: #5c3d00;
} 

#container {
    margin:0;
	padding:1em;
}

.infobox {
	display:block;
	padding-left:15px;
	padding-right:15px;
	margin-top:1em;
	padding-bottom:0;
	border-radius: 0 0 1em 1em;
	box-shadow: black 0 0.3em 0.5em -0.3em;
}
.infobox .content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	margin-bottom:0;
}

.infobox ul {	
	padding:0;
	padding-bottom:0.2em;
	text-align:right;
	list-style-type: none; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:small;
	margin-right:1em;
	margin-bottom:0;
	margin-top:0;
}
.infobox ul li {
	display:inline;
	margin:0;
	padding:0;
}
.infobox ul li a {
	padding: 0.2em 0.5em;
	color:#ffa800;
	margin:0;
}
.infobox ul li a:hover {
	background-color: #ffd800;
	color: #5c3d00;
	text-decoration:none;
}

.ender {
	width:100%;
	clear:both;
}

#events {
	float:left;
	width:520px;
}

#events, #events ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#events ul li {
	overflow:hidden;
	margin-bottom: 1.5em;
}

#events .datebox {
	float:left; 
	text-align:center; 
	width:80px;
}

#events .daymonth {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16pt; 
	margin:0
}

#events .dayweek {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	margin:0;
}

#events .contentbox {
	margin-left: 90px;
}

#events p.timeLocation {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	margin:0;
	margin-bottom:0.3em
}

#events h1 {
	margin-top: 2em;
	margin-bottom:1em;
	font-size:10pt;
	font-weight:bold;
	text-transform:uppercase;
}

#events h2 {
	margin: 0em;
	margin-bottom:0.1em;
	font-size:14pt;
	font-weight:normal;
}

#events p.desc {
	font-size:11pt;
	margin:0;
	text-align:justify;
}

#sidebar {
	border:thin green dotted;
	width:200px;
	position:absolute;
	right:0;
}
#black-overlay{
	margin: 0;
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	background-color: #000;
	z-index:1001;
}
.lightbox {
	position:absolute;
	margin: 0 auto;
	display: none;
	z-index:1002;
}
.lightbox a.close {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	text-indent: -1000em;
	background: url('../images/close.png') no-repeat;
}
div.location {
	background-color: white;
	width:400px;
	margin: 0 auto;
	padding:1em;
	font-family:Arial, Helvetica, sans-serif;
}

div.location .map {
	text-align:center;
}

#locations {
	list-style:none;
	padding: 0 1em;
	margin: 0;
}

#locations .address {
	font-family:Arial, Helvetica, sans-serif
}

#locations .map {
	float:right;
	margin: 0 0 1em 1em;
}