html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #305c57;
    background-color: #fafafa;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Canter Light",Helvetica,Arial,sans-serif;
}

h2 {
    font-family: "Canter Bold",Helvetica,Arial,sans-serif;
}

a {
    color: #2f9e8e;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: none;
}


img.logo {
    height: 0.7em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Canter Bold", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    color: #fafafa;
    background-color: #63b8ad;
}

.navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 20pt;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fafafa;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    padding: 20px;
    background-color: inherit;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    color: #efefef;
    background-color: inherit;
/*    background-color: rgba(255,255,255,.3);*/
}

.navbar-custom .navbar-brand {
    font-size: 24pt;
}

.intro {
    display: table;
    width: 100%;
    height: 200px;
    padding-top: 50px;
    text-align: left;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    background-color: #63b8ad;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-events {
    background: url(../img/events-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-fullscreen {
    padding: 150px 0;
    height: auto;
    text-align: center;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    color: #fafafa;
    font-size: 40px;
}

.content-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-brand {
        display: none;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #63b8ad;
    }

    .top-nav-collapse .nav li a {
        
    }
    
    .top-nav-collapse .navbar-brand {
        display: inherit;
    }

    .intro {
        height: 200px;
        padding: 0;
    }

    .intro-fullscreen {
        height: 100%;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
}


.main-container {
    margin-top:1em;
}


#supercontainer {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:750px;
	background:#fff;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	
	-moz-box-shadow: 0 0 0.5em #000;
	-webkit-box-shadow: 0 0 0.5em #000;
	box-shadow: 0 0 0.5em #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=90,Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=270,Color='#555555');
}

body:last-child #supercontainer {
	filter: none;
}

#header {
	background-color: #fff;
	background-image: url('../images/header.png');
	background-position: 100px 10px;
	background-repeat:no-repeat;
	position: relative;
	width: 850px;
	margin-left: -50px;
	padding-top: 120px;
	padding-bottom:0;
	z-index:10;
	border-radius: 0 0 1em 1em;
	-moz-box-shadow: 0 0 0.5em #000;
	-webkit-box-shadow: 0 0 0.5em #000;
	box-shadow: 0 0 0.5em #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=180,Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=90,Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=270,Color='#555555'), progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=180,Color='#555555');
}

body:last-child #header {
	filter: none;
}

a#facebook-link {
	display:block;
	position:absolute;
	top:1em;
	right:0;
	width:40px;
	height:40px;
	background-image:url('../images/facebook.png')
}
ul#horisontal-menu {
	padding:0;
	padding-bottom:0.5em;
	text-align:right;
	list-style-type: none; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-right:5em;
	margin-top:0;
	margin-bottom:0;
}
ul#horisontal-menu li {
	display:inline;
	margin:0;
	padding:0;
}
ul#horisontal-menu li a {
	padding:0.5em;
	color:#ffa800;
	margin:0;
}
#header li a:hover {
	background-color: #ffd800;
	color: #5c3d00;
	text-decoration:none;
}
#header li.selected a, #header li.selected a:visited {
	background-color: #ffd800;
	color: #5c3d00;
} 

.infobox {
	display:block;
	padding-left:15px;
	padding-right:15px;
	margin-top:1em;
	padding-bottom:0;
	border-radius: 0 0 1em 1em;
	box-shadow: black 0 0.3em 0.5em -0.3em;
}
.infobox .content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	margin-bottom:0;
}

.infobox ul {	
	padding:0;
	padding-bottom:0.2em;
	text-align:right;
	list-style-type: none; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:small;
	margin-right:1em;
	margin-bottom:0;
	margin-top:0;
}
.infobox ul li {
	display:inline;
	margin:0;
	padding:0;
}
.infobox ul li a {
	padding: 0.2em 0.5em;
	color:#ffa800;
	margin:0;
}
.infobox ul li a:hover {
	background-color: #ffd800;
	color: #5c3d00;
	text-decoration:none;
}

.ender {
	width:100%;
	clear:both;
}

#events .calledOff {
  	text-decoration:line-through;
}

#events .event-line-fst {
  	font-family: "Canter Bold", Helvetica, Arial, sans-serif; 
	  font-size:24pt; 
    margin:0;
}

#events .daymonth {
    text-align:center;
}

#events .event-header {
    line-height: inherit;
}

#events .event-line-snd {
	  font-family:Arial, Helvetica, sans-serif;
	  font-size:10pt;
}

#events .dayweek {
    text-align: center;
}

#events .event-desc {
    text-align: justify;
}

#black-overlay{
	margin: 0;
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	background-color: #000;
	z-index:1001;
}
.lightbox {
	position:absolute;
	margin: 0 auto;
	display: none;
	z-index:1002;
}
.lightbox a.close {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	text-indent: -1000em;
	background: url('../images/close.png') no-repeat;
}
div.location {
	background-color: white;
	width:400px;
	margin: 0 auto;
	padding:1em;
	font-family:Arial, Helvetica, sans-serif;
}

div.location .map {
	text-align:center;
}

#locations {
	list-style:none;
	padding: 0 1em;
	margin: 0;
}

#locations .address, #locations .url {
	font-family:Arial, Helvetica, sans-serif
}

#locations .map {
	float:right;
	margin: 0 0 1em 1em;
}

.dropdown-menu {
    font-size: 16pt;
}
.navbar-custom .nav .dropdown-menu li a {
    color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
}    

@media (min-width: 768px) {
  .dropdown-menu {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 10pt;
      margin-top: -10px !important;
      text-transform: none;
      border: none;
      border-radius: 0;
      background-color: inherit;
      box-shadow: none;
      line-height: auto;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom .nav .dropdown-menu li a {
      padding: inherit;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 5px;
  }
  .navbar-custom .nav .dropdown-menu li a:hover {
      color: #efefef;
  }
  .top-nav-collapse .dropdown-menu {
      background-color: #63b8ad;
  }

}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.group-photo {
    height: 500px;
    background: url('../img/group-photo.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.proposals-photo {
    height: 500px;
    background: url('../img/proposals-photo.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #305c57;
    color: #305c57;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #305c57;
    outline: 0;
    color: #fafafa;
    background-color: #305c57;
}

ul.banner-social-buttons {
    margin-top: 40px;
}

ul.banner-social-buttons .btn-default {
    width: 10em;
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fafafa;
    background-color: #63b8ad;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 10pt;
/*    font-weight: bold;*/
    line-height: 2;
}

footer a {
    color: #fafafa;
}

footer a:focus,
footer a:hover {
    color: #eaeaea;
}
